.transfers {
    width: 80%;
    margin: 0 auto;
}

.transfers__table {
    width: 100%;
}

.table {
    border-collapse: separate;
    border-spacing: 0 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tr {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
    cursor: pointer;
}

.tr:hover {
    background-color: #ffffffea;
}

.tr span {
    flex: 0 0 200px;
}

.tr-heading {
    background-color: #222222;
    color: #fff;
    cursor: auto;
}

.tr-heading:hover {
    background-color: #222;
}
