.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 15px 120px;
    flex-wrap: wrap;

    background-color: #222222;
    height: 70px;
}

.header__links {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 50px;
}

@media (max-width: 990px) {
    .header {
        padding: 15px 40px;
        height: auto;
    }

    .header__logo {
        font-size: 38px !important;
    }
}
