.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 15px 120px;
    flex-wrap: wrap;

    background-color: #222222;
    height: 70px;
}

.header__links {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 50px;
}

.header__dropdown {
    font-family: Inter;
}

.dropdown-toggle {
    background-color: #fff !important;
    color: #000 !important;
}

.dropdown-toggle:active {
    color: #000 !important;
    background-color: #ebedf0 !important;
}

.header__dropdown__item {
    background-color: #fff !important;
}

@media (max-width: 990px) {
    .header {
        padding: 15px 40px;
        height: auto;
    }

    .header__logo {
        font-size: 38px !important;
    }
}
