.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 15px 120px;
    flex-wrap: wrap;

    background-color: #222222;
    height: 70px;
}

.header__logo {
    font-size: 32px;
}

.header__link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: 42px; /* Helps positioning text in VCenter */
}

.header__links {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 50px;
}
