@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --big-avatar-size: 170px;
    --avatar-size: 180px;
    --avatar-size-sm: 130px;
}

div,
nav,
body,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: #fff;
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

button {
    font-weight: 500 !important;
    font-family: "Inter" !important;
    background-color: #fff !important;
}
button:hover {
    background-color: #d8dbdf !important;
    color: black !important;
}
button:active {
    background-color: #cfd2d8 !important;
}
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* NEW STUFF */

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: wavy;
}

.block-padding-sm {
    padding: 15px 10px;
}

.grey-btn {
    background: transparent;
    color: white;
    border: none;
    padding: 8px 15px;

    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border-radius: 11px;
}

.grey-btn:hover {
    background: #313131;
}

.btn {
    background: #d9d9d9;
    color: black;
    border: none;
    border-radius: 11px;
    padding: 8px 15px;

    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.user-card-long {
    text-align: left;
    margin: 20px auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding: 10px 60px;
    position: relative;
    gap: 20px;
}

.user-info-long {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-info-long a:hover {
    text-decoration: underline;
}

.last-message-sent-date-text {
    font-size: 14px;
    color: #999;
    position: absolute;
    right: 50px;
    top: 0;
}

.user-card button {
    float: right;
    margin-right: 10px;
    padding: 10px 18px;
    font-size: 17px;
    cursor: pointer;
}

.hr {
    margin: 0 auto;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.425);
    height: 1px;
    box-sizing: content-box;
}

#current-order-full {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    padding: 20px 70px;
}

.blue-text {
    color: #6ea5e4;
}

.transparent-btn {
    font-size: 25px;
    position: relative;
    background: transparent;
    border: none;
    color: #6ea5e4;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 300px;
    margin: 0 auto;
}

.center-btn-wrapper {
    text-align: center;
}

.file-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 50px 0;
    align-items: center;
}

.file-card svg {
    width: 30px;
}

.filename {
    font-size: 20px;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #2e2e2e;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-width: 500px;
    margin: 0 auto;
    max-width: 900px;
    padding: 15px 60px;
}

.p-m {
    padding: 30px;
}

.input-comment {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 30px;
    width: 500px;
    max-height: 30px;
    background-color: #292929;
    border: 1px solid #555555;
    border-radius: 8px;
    color: white;
    border-bottom: 1px solid #363738;
}
